.heading {
  background-image: url("bg.png");
  background-color: aquamarine;
  background-image {
   /* width: fit-c; */
   height: 100;
  }
}
h1{
  color: red;

}

.edu {
  background-color: antiquewhite;
}

.membership
{
    background-color: beige;
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}
